@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    min-width: 3rem;
}

body > div {
    padding: 2rem;
    width: 60%;
    margin: 2rem auto;

    display: flex;
    border: thin solid #000;
    border-radius: 0.5rem;
    justify-content: center;
}

body > div > div {
    flex-grow: 1;
}

aside img {
    max-height: 20rem;
}
