@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    min-width: 3rem;
}

body > div {
    padding: 2rem;
    width: 60%;
    margin: 2rem auto;

    display: flex;
    border: thin solid #000;
    border-radius: 0.5rem;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    body > div {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    body > div {
        flex-direction: column;
    }
}

body > div > div {
    flex-grow: 1;
}

aside img {
    max-height: 20rem;
    margin-left: 1rem;
}

.cv-item h4 {
    margin: 0.2rem 0;
    padding: 0;
}

.cv-item p:last-child {
    margin-top: 0;
}
